.user-login-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: #ffffff;
}

.login-web-logo-name-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.web-login-logo {
	width: 30px;
	height: 30px;
}

@media screen and (min-width: 768px) {
	.user-login-form-container {
		flex-direction: row;
	}
}

.landing-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.landing-image-container {
		display: block;
		width: 50vw;
		height: 100vh;
		order: 2;
	}
}

.login-desktop-landing-image {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.login-desktop-landing-image {
		width: 400px;
		height: 300px;
	}
}

.app-title {
	font-family: DM Sans;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	color: #1b1a58;
	margin: 8px;
}

@media screen and (max-width: 767px) {
	.website-logo {
		display: none;
	}
}

.login-heading {
	width: 60px;
	height: 32px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #1b1a58;
	margin-top: 15px;
}

.login-form-container {
	width: 90%;
	height: fit-content;
	position: absolute;
	left: 24px;
	top: 280px;
	max-width: 746px;
}

@media screen and (min-width: 768px) {
	.login-form-container {
		width: 50vw;
		order: 1;
		position: relative;
		left: 0px;
		top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.login-form-sub-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 75%;
		background: #fefeff;
		box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
		border-radius: 8px;
		padding: 45px 25px 45px 25px;
	}
}

.login-user-field-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

.login-password-field-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}

.login-input-label {
	height: 16px;
	border-radius: null;
	margin-bottom: 15px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #475569;
}

.input-field {
	height: 40px;
	border-radius: 2px;
	border: none;
	background: #e2e8f0;
	border-radius: 2px;
	outline: none;
	padding: 5px 10px 5px 15px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #171f46;
}

.login-submit-button {
	margin-top: 20px;
	height: 40px;
	background: #1b1a58;
	border-radius: 8px;
	border: none;
	width: 100%;
	margin-top: 25px;
	cursor: pointer;
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}

.sign-up-button {
	margin-top: 20px;
	height: 40px;
	background: #1b1a58;
	border-radius: 8px;
	border: none;
	width: 100%;
	margin-top: 25px;
	cursor: pointer;
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}

.login-error-message {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #ef4444;
}
